*{
    font-family: Verdana, Geneva, Tahoma, san-seriff;
    font-size: 20px;
}

body{
    background-color: lightblue;
    background: linear-gradient(to right, lightblue, blue);
}

.container
{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

figure {
    margin:auto;
    display: block;
    max-width: 100%;
    text-align: center;
}

img{
    max-width:100%;
    height: auto;
}

h1{
    text-align: center;
}

div{
    justify-content: space-between;
    display: flex;
}